@import "style.css";			/* @test @import url(/vendors/css/style.css); */
@import "/style.css";			/* @test @import url(/css/style.css); */

styles {
	url-vendor1: stylesheet-url("style.css");				/* @test url('/vendors/css/style.css'); */
	url-vendor2: stylesheet-url("style.css", true);			/* @test /vendors/css/style.css; */
	
	url-app1: stylesheet-url("/style.css");					/* @test url('/css/style.css'); */
	url-app2: stylesheet-url("/style.css", true);			/* @test /css/style.css; */
}
